@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .dark\:bg-dark {
    background-color: var(--background);
  }
  
  .dark\:text-light {
    color: var(--foreground);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .hover-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hover-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hover-scrollbar:hover {
    scrollbar-width: thin;
    -ms-overflow-style: auto;
  }

  .hover-scrollbar:hover::-webkit-scrollbar {
    display: block;
    width: 8px;
  }

  .hover-scrollbar:hover::-webkit-scrollbar-track {
    background: transparent;
  }

  .hover-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
}
